[submodule "egCAS"]
	path = egCAS
	url = https://github.com/majojoe/egCAS.git
[submodule "libmml_egcas"]
	path = libmml_egcas
	url = ../libmml_egcas.git
[submodule "egcas_maxima"]
	path = egcas_maxima
	url = ../egcas_maxima.git
[submodule "egcas-core"]
	path = egcas-core
	url = ../egcas-core.git
