
html,body,div,span,h1,h2,p {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        font:inherit;
}

body {
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size:14px
}

a {
        color:#4085C3;
}

h1 {
        margin:80px auto 0 auto;
        font-size:48px;
        font-weight:200;
        line-height:60px;
        text-align:center;
        color:#333333
}

h2 {
        margin:40px auto 0;
        font-size:21px;
        font-weight:200;
        line-height:40px;
        text-align:center; 
        color:#333333
}

.links_class {
        position: relative;
        top: 0px;
        left: 60px;
        line-height:38px;
        margin:40px auto 0;
        font-size:18px;
}

.logo {
        position: absolute;
        top: 10px;
        right: 30px;
        width:70px;
}

#headline {
        padding:40px 0 0;
        position:relative;
        background:#222222;
}

#headline h1 {
        color:#FFFFFF;
        margin-top:50px
}

#headline h2 {
        color:#FFFFFF;
        margin:10px auto 50px;
        line-height:2em;
}

#screenshot {
        margin:30px auto 0;
        position:relative;
        text-align: center;
}
